:root {
    scroll-behavior: smooth;
    --text-color: black;
    --color-1: #2D3E40;
    --color-2: #387373;
    --color-3: #93BFB7;
    --color-4: #97A6A0;
    --color-5: #E4F2E7;
    --color-6: #e0ebec;
    --color-7: #dae4e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif;
    user-select: none;
}

body {
    background-image: linear-gradient(2deg, white, var(--color-6));
}

section {
    min-height: 100vh;
    padding: 5rem 0;
}

/* Estillizando o site */

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 4rem;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* Começando a estilização do header */

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    backdrop-filter: blur(20px);
    color: var(--text-color);
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
}

header h2 span {
    color: var(--color-2);
}

.logo {
    font-size: 28px;
    width: 170px;
}

.logo a {
    text-decoration: none;
    color: var(--text-color);
}

nav.desktop-menu {
    text-align: right;
    width: calc(100% - 170px)
}

nav.desktop-menu ul {
    display: inline-block;
    list-style-type: none;
}

nav.desktop-menu li {
    transition: 0.4s;
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

nav.desktop-menu li:hover {
    transform: translateY(-2px);
    border-bottom: 2px solid var(--color-2);
}

nav.desktop-menu a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

nav.mobile-menu {
    text-align: right;
    display: none;
    width: calc(100% - 170px);
}

nav.mobile-menu > i {
    font-size: 32px;
}

nav.mobile-menu > ul {
    position: absolute;
    background-color: var(--color-7);
    z-index: 999;
    width: 100%;
    top: 100px;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.5s, top ease 0.5s;
    display: none;
}

nav.mobile-menu > ul li {
    text-align: center;
    transition: background-color 0.3s;
}

nav.mobile-menu > ul li a {
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    width: 100%;
}

nav.mobile-menu > ul li:hover, nav.mobile-menu > ul li:active {
    background-color: var(--color-3);
}

/* Começando a estilização da sessão sobre */

section.sobre {
    position: relative;
}

section.sobre > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Animação de texto */

section.sobre .text.first-text {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

section.sobre .text.sec-text {
    color: var(--color-2);
}

/* Fim animação de texto */

.header-section {
    font-size: 30px;
    margin-bottom: 30px;
    font-size: 2.8rem;
    text-align: center;
}

section.sobre .flex-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

section.sobre .image {
    border-radius: 50%;;
    height: 350px;
    width: 350px;
    background-image: url('../images/avatar.jpg');
    background-size: 100% 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

section.sobre .image:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2),
                0 0 60px rgba(0, 0, 0, 0.2);
}

section.sobre .texto-sobre {
    width: 500px;
    text-align: left;
    font-size: 1.4rem;
}

section.sobre .texto-sobre h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

/* Começando a estilização da sessão skills */

section.skills {

    min-height: auto;
    padding: 7rem 0;
}

section.skills .header-section {
    font-size: 2.2rem;
}

section.skills .flex-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skill-single {
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0;
    width: calc(100%  /3);
    text-align: center;
    padding: 1.5rem;
}

.skill-single:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.skill-single .image {
    font-size: 80px;
}

.skill-single .texto {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* Começando a estilização do footer */

footer {
    padding: 40px 0;
    background-color: #2d2b29;
    color: white;
}

footer .flex-container {
    display: flex;
    align-items: center;
}

.social-section {
    width: 50%;
}

.social-section h2 {
    margin-bottom: 20px;
    border-left: 5px solid #B2BEBF;
    padding-left: 10px;
}

.social-section li {
    margin-left: 15px;
    margin-bottom: 5px;
}

.texto-footer {
    width: 50%;
    text-align: center;
}

.social-section ul {
    list-style-type: none;
}

.social-section a {
    transition: color 0.3s;
    color: rgb(230, 229, 229);
    text-decoration: none;
}

.social-section a:hover {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

/*****************************/

/* Começando a estilização da página hobbies */

section.hobbies .header-section {
    font-weight: bold;
}

div.hobbies-cards .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card-single-wraper {
    width: 33.3%;
    padding: 20px;
    height: 400px;
}

.card-single {
    background-position: center; 
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d2b29;
    border-radius: 20px;
}

.card-single .texto-card-single-front {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    z-index: 2;
}

.card-single .card-single-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.card-single:hover .card-single-back {
    opacity: 1;
}

/*****************************/

/* Iniciando estilização da página filmes */

/****************************/

/* Iniciando a estilização de sessão filmes */

.filme-single {
    width: 100%;
    padding: 20px 0;
}

.filme-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filme-wraper-invert {
    flex-direction: row-reverse;
}

.filme-wraper-invert .filme-desc {
    text-align: left;
}

.filme-img {
    width: 60%;
    height: 300px;
}

.filme-img iframe {
    width: 100%;
    height: 100%;
}

.filme-desc {
    text-align: right;
    width: 40%;
    padding: 0 20px;
    line-height: 25px;
}

/*****************************/

/* Iniciando estilização da página projetos */

/****************************/

/* Iniciando a estilização da sessão projetos */

section.projetos .header-section {
    margin-bottom: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.projeto-single {
    text-align: center;
    margin-bottom: 20px;
}

.projeto-wraper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.projeto-wraper h2 {
    font-size: 35px;
}

.projeto-img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-top: 60%;
    background-color: #ccc;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.projeto-img:hover {
    transform: scale(1.02);
}

.projeto-img a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.projeto-desc {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.projeto-desc h2 {
    margin-bottom: 20px;
}

/* Começando a aplicar o responsivo com media queries */

@media screen and (max-width: 1080px) {
    header nav.desktop-menu {
        display: none;
    }

    header nav.mobile-menu{
        display: block;
    }

    footer .social-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    footer .social-section h2 {
        border-left: 0;
        padding-left: 0;
    }

    footer .texto-footer {
        width: 100%;
    }

    .social-section li {
        margin-left: 0px;
        margin-bottom: 5px;
    }

    section.banner .texto-banner {
        text-align: center;
        width: 98%;
    }

    section.sobre .image {
        height: 250px;
        width: 250px;
        background-image: url('../images/avatar.jpg');
        background-size: 100% 100%;
        margin: 0 auto;
    }
    
    section.sobre .texto-sobre {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
        text-align: center;
    }

    section.sobre .flex-container, footer .flex-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .filme-desc, .filme-wraper-invert .filme-desc {
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }

    section.skills .header-section {
        font-size: 2.2rem;
    }

    .filme-img {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }
    
    .filme-img iframe {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .skill-single {
        width: 100%;
        margin-bottom: 30px;
    }

    .card-single-wraper {
        width: 50%;
    }
}

@media screen and (max-width: 570px) {
    .skill-single {
        width: 100%;
        margin-bottom: 30px;
    }

    section.skills .header-section {
        font-size: 2rem;
    }

    .card-single-wraper {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #e0ebec;
}

::-webkit-scrollbar-thumb {
    background-color: #2d2b29;
}