* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, sans-serif;
}

html, body {
    height: 100%;
}

/* Estillizando o site */

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0 3%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* Começando a estilização do header */

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    background-color: #3B3936;
    color: white;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 28px;
    width: 170px;
}

.logo a {
    text-decoration: none;
    color: white;
}

nav.desktop-menu {
    text-align: right;
    width: calc(100% - 170px)
}

nav.desktop-menu ul {
    display: inline-block;
    list-style-type: none;
}

nav.desktop-menu li {
    transition: 0.4s;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

nav.desktop-menu li:hover {
    background-color: #e0ebec;
}

nav.desktop-menu li:hover a {
    color: #3B3936;
}

nav.desktop-menu a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav.mobile-menu {
    text-align: right;
    display: none;
    width: calc(100% - 170px);
}

nav.mobile-menu > i {
    font-size: 32px;
}

nav.mobile-menu > ul {
    position: absolute;
    background-color: #3B3936;
    z-index: 999;
    width: 100%;
    top: 100px;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.5s, top ease 0.5s;
    display: none;
}

nav.mobile-menu > ul li {
    text-align: center;
    transition: background-color 0.3s;
}

nav.mobile-menu > ul li a {
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 100%;
}

nav.mobile-menu > ul li:hover, nav.mobile-menu > ul li:active {
    background-color: #302e2c;
}

/* Começando a estilização do main */

main {
    margin-top: 60px;
}

/* Começando a estilização da sessão banner */

section.banner {
    min-height: 500px;
    background-image: url("../images/image-banner.jpg");
    background-attachment: fixed;
    position: relative;
}

section.banner .texto-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Começando a estilização da sessão sobre */

section.sobre {
    padding: 60px 0;
    background-color: #e0ebec;
}

.header-section {
    padding-left: 10px;
    border-left: 5px solid #889C9B;
    font-size: 30px;
    margin-bottom: 30px;
}

section.sobre .flex-container {
    display: flex;
    align-items: center;
}

section.sobre .image {
    border-radius: 50%;;
    height: 250px;
    width: 250px;
    background-image: url('../images/avatar.jpg');
    background-size: 100% 100%;
}

section.sobre .texto-sobre {
    width: calc(100% - 250px);
    padding-left: 30px;
    text-align: center;
    font-size: 18px;
}

/* Começando a estilização da sessão skills */

section.skills {
    padding: 50px 0;
    background-color: rgb(230, 236, 235);
}

section.skills .flex-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.skill-single {
    transition: box-shadow 0.3s;
    box-shadow: 0;
    width: calc(100%  /3);
    padding: 30px;
    text-align: center;
}

.skill-single:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skill-single .image {
    font-size: 80px;
}

.skill-single .texto {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* Começando a estilização do footer */

footer {
    padding: 40px 0;
    background-color: #2d2b29;
    color: white;
}

footer .flex-container {
    display: flex;
    align-items: center;
}

.social-section {
    width: 50%;
}

.social-section h2 {
    margin-bottom: 20px;
    border-left: 5px solid #B2BEBF;
    padding-left: 10px;
}

.social-section li {
    margin-left: 15px;
    margin-bottom: 5px;
}

.texto-footer {
    width: 50%;
    text-align: center;
}

.social-section ul {
    list-style-type: none;
}

.social-section a {
    transition: color 0.3s;
    color: rgb(230, 229, 229);
    text-decoration: none;
}

.social-section a:hover {
    color: rgb(196, 196, 196);
    text-decoration: none;
}

/*****************************/

/* Começando a estilização da página hobbies */

section.hobbies {
    padding: 40px 0;
}

div.hobbies-cards .flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card-single-wraper {
    width: 33.3%;
    padding: 20px;
    height: 400px;
}

.card-single {
    background-position: center; 
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2d2b29;
    border-radius: 20px;
}

.card-single .texto-card-single-front {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    z-index: 2;
}

.card-single .card-single-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.card-single:hover .card-single-back {
    opacity: 1;
}

/*****************************/

/* Iniciando estilização da página filmes */

/****************************/

/* Iniciando a estilização de sessão filmes */

section.filmes {
    padding: 20px 0;
}

.filme-single {
    width: 100%;
    padding: 20px 0;
}

.filme-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filme-wraper-invert {
    flex-direction: row-reverse;
}

.filme-wraper-invert .filme-desc {
    text-align: left;
}

.filme-img {
    width: 60%;
    height: 300px;
}

.filme-img iframe {
    width: 100%;
    height: 100%;
}

.filme-desc {
    text-align: right;
    width: 40%;
    padding: 0 20px;
    line-height: 25px;
}

/*****************************/

/* Iniciando estilização da página projetos */

/****************************/

/* Iniciando a estilização da sessão projetos */

section.projetos {
    padding: 40px 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.projeto-single {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.projeto-wraper {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.projeto-wraper h2 {
    font-size: 35px;
}

.projeto-img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-top: 60%;
    background-color: #ccc;
    margin-bottom: 20px;
/*    background-image: url(); colocar depois*/
    background-size: cover;
    background-position: center;
}

.projeto-img a {
    display: block;
    width: 100%;
    height: 100%;
}

.projeto-desc {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.projeto-desc h2 {
    margin-bottom: 20px;
}

/* Começando a aplicar o responsivo com media queries */

@media screen and (max-width: 1080px) {
    header nav.desktop-menu {
        display: none;
    }

    header nav.mobile-menu{
        display: block;
    }

    footer .social-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    footer .social-section h2 {
        border-left: 0;
        padding-left: 0;
    }

    footer .texto-footer {
        width: 100%;
    }

    .social-section li {
        margin-left: 0px;
        margin-bottom: 5px;
    }

    section.banner .texto-banner {
        text-align: center;
        width: 98%;
    }

    section.sobre .image {
        height: 250px;
        width: 250px;
        background-image: url('../images/avatar.jpg');
        background-size: 100% 100%;
        margin: 0 auto;
    }
    
    section.sobre .texto-sobre {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
    }

    .projeto-single {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .filme-desc, .filme-wraper-invert .filme-desc {
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }

    .filme-img {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }
    
    .filme-img iframe {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .skill-single {
        width: 100%;
        margin-bottom: 30px;
    }

    .card-single-wraper {
        width: 50%;
    }
}

@media screen and (max-width: 570px) {
    .skill-single {
        width: 100%;
        margin-bottom: 30px;
    }

    .card-single-wraper {
        width: 100%;
    }
}